<div class="grid">
  <article class="container" id="form">
    <h1 class="title">Formulario de Productos</h1>
    <div class="line"></div>
    <form action="" method="POST">
      <label for="titulo">Titulo:
        <input type="text" name="titulo" /></label>
      <label for="precio">Precio:
        <input type="number" name="precio" /></label>
      <label for="url">URL:
        <input type="text" name="url" /></label>
      <button id="sendBtn">Enviar</button>
    </form>
  </article>

  <article class="container" id="table">
    <table>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
      {{#if productos}}
        {{#each productos}}
          <tr>
            <td>{{id}}</td>
            <td>{{titulo}}</td>
            <td>{{precio}}</td>
            <td><img src="{{url}}" alt="" class="tableImg" /></td>
          </tr>
        {{/each}}

      {{else}}
        <tr>
          <td colspan="4">No hay Productos</td>
        </tr>
      {{/if}}

    </table>
  </article>

  <article id="chat" class="container">
    <h3>Contacto:</h3>
    <div class="line"></div>
    <form>
      <div class="areaMsg">
        <label for="email">
          Correo:
          <input type="email" id="inputEmail" />
        </label>
        <label for="mensaje">
          Mensaje
          <textarea name="mensaje" id="contenidoMensaje" rows="3"></textarea>
        </label>
         <button onclick="enviarMensaje()">Enviar Mensaje</button>
      </div>
     
    </form>
  </article>
</div>