<table>
  <tr>
    <th>ID</th>
    <th>Titulo</th>
    <th>Precio</th>
    <th>Imagen</th>
  </tr>
  {{#if productos}}
    {{#each productos}}
      <tr>
        <td>{{id}}</td>
        <td>{{titulo}}</td>
        <td>{{precio}}</td>
        <td><img src="{{url}}" alt="" class="tableImg" /></td>
      </tr>
    {{/each}}

  {{else}}
    <tr>
      <td colspan="4">No hay Productos</td>
    </tr>
  {{/if}}

</table>

<section>
  <a href="/">
    <button>
      Ir a formulario
    </button>
  </a>
</section>